/* Global CSS */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: gray;
}

/* Desktop Media Query */

@media (min-width: 1025px) {

    /* Navigation Section */

    #navigation {
        height: 40px;
    }

    .nav {
        height: 40px;
        padding-top: 10px;
    }

  .right {
      float: right;
      padding-right: 10px;
      
        
      /* padding-bottom: ; */
      height: 100%;
  }

  .nav-link {
    padding: 20px 10px 10px 20px;
    text-decoration: none;
  }

  .acct-logo {
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      width: 40px;
      padding: 4px;
  }

  .acct-logo-div {
      float: right;
      position: relative;
      bottom: 10px;
      
  }
  
  /* Logo Section */

  #logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
  }

  /* Search Bar section */
  
  #search {
      display: flex;
      justify-content: center;
      border: none;
  }

  /* Removes outline when you click in search bar */
  input#search-bar:focus {
      outline-width: 0;
  }
  
  #search-bar {
      width: 35rem;
      padding: 10px;
      border-radius: 15px;
      border: none;
  }

  .micro {
  }

}
