/* Global CSS */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: #ffff;
}

/* Desktop Media Query */

@media (min-width: 1025px) {

    /* Navigation Section */

    #navigation {
        height: 40px;
    }

    .nav {
        height: 40px;
        padding: 20px 0;
    }

  .right {
      float: right;
      padding-right: 10px;
      height: 100%;
        
      /* padding-bottom: ; */
      
  }

  .nav-link {
    padding: 20px 10px 10px 20px;
    text-decoration: none;
    color: #222;

  }

  .acct-logo {
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      width: 40px;
      padding: 4px;
  }

  .acct-logo-div {
      float: right;
      position: relative;
      bottom: 10px;
      
  }
  
  /* Logo Section */

  #logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
  }

  #logo:hover {
      animation: bounce 1s;
  }

  /* Search Bar section */
  
  #search {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      
  }

  
  #search-bar {
      width: 35rem;
      padding: 10px;
      border-radius: 15px;
      border: solid 0.1px #b3b5b6;
      background-color: transparent;
  }

  @keyframes bounce {                               /* Bounce effect My little twist*/
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }


  #search-bar:hover {
    animation: bounce 1s;
  }



  input#search-bar:focus {
        outline-width: 0;   /* Removes outline when you click in search bar */
    }

    /* Search buttons section */
    
    #buttons {
        display: flex;
        justify-content: center;
        padding: 30px;

    }

    .beffect:hover {
        border: solid 1px rgb(121, 121, 121);
    }

    button {
        margin-right: 20px;
        background-color: #f8f9fa;
        border: 1px  #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial, sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
    }

    /* Footer Section */

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #f2f2f2;
    }

    #footer .nav-link {
        color: #70757a;
    }

    .left {
       justify-content: flex-start;
       min-width: 30%;
       order: 2;
    }

    .same { 
        display: flex;
        flex-wrap: wrap;                                /* Styles the links onto the same line */
        justify-content: space-between;
    }

    .middle {
        order: 1;
    }
}
